<!DOCTYPE html>

{% extends 'adminlte/base.html' %}

    {% block title %}Dashboard{% endblock %}

    {% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="box"  style="background:grey">
            <div class="box-header with-border">
                <h3 class="box-title" style="color: white">Reservas</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Expandir">
                        <i style="color: white" class="fa fa-fa-minus"></i></button>
                    
                </div>
            </div>
            <div class="box-body" style="background: white">
                <div class="box"  style="background:white">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="color: black">Bosques</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                        title="Expandir">
                                <i style="color: black" class="fa fa-minus"></i>
                            </button>                                                
                        </div>
                    </div>
                     <div class="box-body" style="background: white">
                                           <h5 style="color: black" href="#">                                 
                                            <i  class="fa fa-map"></i> 
                                            <span >item1</span>
                                            <button style="background-color: dimgrey; float: right;" type="button" class="btn btn-default">
                                            <h5 style="color: white"> Ver en el Mapa
                                            <i  class="fa fa-search-plus"></i>    
                                            </h5>

                                        </button> 
                                            

                                        </h5>
                    </div>     
                </div>
            </div>
            <div class="box-body" style="background: white">
                <div class="box"  style="background:white">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="color: black">Animales</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                        title="Expandir">
                                <i style="color: black" class="fa fa-minus"></i>
                            </button>                                                
                        </div>                               
                    </div>
                     <div class="box-body" style="background: white">
                                          <h5 style="color: black" href="#">                                 
                                            <i  class="fa fa-map"></i> 
                                            <span >item1</span>
                                            <button style="background-color: dimgrey; float: right;" type="button" class="btn btn-default btn-right">
                                            <h5 style="color: white"> Ver en el Mapa
                                            <i  class="fa fa-search-plus"></i>    
                                            </h5>

                                        </button> 
                                            

                                        </h5>
                    </div>        
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="box"  style="background:grey">
            <div class="box-header with-border">
                <h3 class="box-title" style="color: white">Santuarios</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Expandir">
                        <i style="color: white" class="fa ffa-minus"></i></button>
                    
                </div>
            </div>
            <div class="box-body" style="background: white">
                                          <h5 style="color: black" href="#">                                 
                                            <i  class="fa fa-map"></i> 
                                            <span >item1</span>
                                            <button style="background-color: dimgrey; float: right;" type="button" class="btn btn-default btn-right">
                                            <h5 style="color: white"> Ver en el Mapa
                                            <i  class="fa fa-search-plus"></i>    
                                            </h5>

                                        </button> 
                                            

                                        </h5>
                                        
            </div>     
                  
        </div>
    </div>
    <div class="col-sm-12">
        <div class="box"  style="background:grey">
            <div class="box-header with-border">
                <h3 class="box-title" style="color: white">Lagos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Expandir">
                        <i style="color: white" class="fa fa-minus"></i></button>
                    
                </div>
            </div>
            <div class="box-body" style="background: white">
                                           <h5 style="color: black" href="#">                                 
                                            <i  class="fa fa-map"></i> 
                                            <span >item1</span>
                                            <button style="background-color: dimgrey; float: right;" type="button" class="btn btn-default btn-right">
                                            <h5 style="color: white"> Ver en el Mapa
                                            <i  class="fa fa-search-plus"></i>    
                                            </h5>

                                        </button> 
                                            

                                        </h5>
            </div>     
                  
        </div>
    </div>
    <div class="col-sm-12">
        <div class="box"  style="background:grey">
            <div class="box-header with-border">
                <h3 class="box-title" style="color: white">Bentonicos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Expandir">
                        <i style="color: white" class="fa fa-minus"></i></button>
                    
                </div>
            </div>
            <div class="box-body" style="background: white">
                                           <h5 style="color: black" href="#">                                 
                                            <i  class="fa fa-map"></i> 
                                            <span >item1</span>
                                            <button style="background-color: dimgrey; float: right;" type="button" class="btn btn-default btn-right">
                                            <h5 style="color: white"> Ver en el Mapa
                                            <i  class="fa fa-search-plus"></i>    
                                            </h5>

                                        </button> 
                                            

                                        </h5>
            </div>     
                  
        </div>
    </div>
</div>
    {% load static %}
    {% load leaflet_tags %}


    <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">

    <style type="text/css">
        #gis {width: 100%; height: 400px;}
    </style>
    
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
</head>
<body>
    <script type="text/javascript">
        function our_layers(map, options){
            var punto = new L.GeoJSON.AJAX("{% url 'punto' %}",{

            });

            var poligono = new L.GeoJSON.AJAX("{% url 'poligono' %}",{

            });

            punto.addTo(map);
            poligono.addTo(map);
        }
    </script>
    <div>
        {% leaflet_map "gis" callback="window.our_layers" %}
    </div>


</body>

{% endblock %}
