{% extends 'adminlte/base.html' %}
{% block head_title %} LimitesPrediales-Listar {% endblock %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="">

        <!-- Busqueda -->

        <div class="row filter-header">
            <div class="col-md-4">
                <form id="search-form" action="" method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" value="{{ q }}" placeholder="Buscar por: Nombre o Rol" autofocus/>
                        <span class="input-group-addon" onclick="document.getElementById('search-form').submit()">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>


        <!-- Fin Búsqueda -->

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins panel panel-default">
                    <div class="panel-body">
                        <h3>Shape puntos</h3>
                    </div>

                    <div class="table-container table-responsive">
                        <div class="panel-body">

                            {% render_table table %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}